NODE_ENV=development

# Postgres em docker-compose (service name: postgres)
DATABASE_URL=postgresql://postgres:docker@postgres:5432/nest-clean?schema=public

# RabbitMQ em docker-compose (service name: rabbitmq)
QUEUE_SERVER_URL=amqp://rabbitmq:5672
